<div class="chats">
    <div scroll-glue class="messages">
        <ul>
            <li  ng-repeat="comment in chatsCtrl.allMessages">
                <div class="messages-container">
                    <div ng-class="{'btn-warning': comment.name=='Error'}">
                        <a href="" ng-click="chatsCtrl.addressee(comment.name)">
                            <h5 class="author">
                                {{comment.name}}
                            </h5>
                        </a>
                        <h6 class="time">{{comment.time}}</h6>
                    </div>
                    <h5 class="message">{{comment.message}}</h5>
                </div>
            </li>
        </ul>
    </div>
    <div class="input-messages">
        <textarea no-new-lines ng-keypress="$event.keyCode == 13 && chatsCtrl.sendMessage()"
                  ng-model="chatsCtrl.message" placeholder="Please, enter your message">
        </textarea>

    </div>
</div>