// Place all the styles related to the Inventories controller here.
// They will automatically be included in app_managment.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.mt50 {
 margin-top: 50px;
  background-color: #D2E0E6;
}

.table-inverse {
  background-color: dodgerblue;
}

