/ Flip area
.flip-mask
  .flipper
    / Flip front area
    .clearfix.flip-slide.front-side
      .small-12.medium-10.medium-push-1.large-8.large-push-2.column.form-box
        %form.login-form.clearfix.validate-form.not-send-ajax{:action => "/access/login", :autocomplete => "off", :method => "post"}
          %input{:style => "display:none", :type => "text"}/
          %input{:style => "display:none", :type => "password"}/
          .small-12.medium-9.large-9.column.input-holder
            .small-12.medium-6.large-6.column.valid-row
              %label.row.form-label{:for => "login"}
                %span.label-text email
                %input#login.required{:autocomplete => "off", :name => "user[email]", :type => "text"}/
            .small-12.medium-6.large-6.column.last.valid-row
              %label.row.form-label{:for => "password"}
                %span.label-text.text-uppercase password
                %input#password.required{:autocomplete => "off", :name => "user[password]", :type => "password"}/
          .row.clearfix
            .text-left.small-6.medium-6.large-6.column
              %label.label-check{:for => "remember_me"}
                %input#remember_me{:name => "user[remember_me]", :type => "checkbox"}/
                %span.custom-check
                %span.check-text Remember me
            .text-right.small-6.medium-6.large-6.column
              %label.label-check{:for => "forgot-password"}
          %input.button.btn-login{:type => "submit", :value => "login"}/
    .to-register-link
      = link_to 'to register', registration_path
:javascript
  $(function() {
    $('.login-link').removeAttr('href').css('text-decoration', 'none');
  });
