<!-- Flip area -->
<div class="flip-mask">
  <div class="flipper">
    <!-- Flip front area -->
    <div class="clearfix flip-slide front-side">
      <div class="small-12 medium-10 medium-push-1 large-8 large-push-2 column form-box">
        <form action="/access/login" class="login-form clearfix validate-form not-send-ajax" autocomplete="off" method="post">
          <input type="text" style="display:none" />
          <input type="password" style="display:none">
          <div class="small-12 medium-9 large-9 column input-holder">
            <div class="small-12 medium-6 large-6 column valid-row">
              <label class="row form-label" for="login">
                <span class="label-text">email</span>
                <input class="required" autocomplete="off" type="text" id="login" name="user[login]">
              </label>
            </div>
            <div class="small-12 medium-6 large-6 column last valid-row">
              <label class="row form-label" for="password">
                <span class="label-text text-uppercase">password</span>
                <input class="required" autocomplete="off" type="password" id="password" name="user[password]">
              </label>
            </div>
          </div>
          <div class="row clearfix">
            <div class="text-left small-6 medium-6 large-6 column">
              <label class="label-check" for="remember_me">
                <input id="remember_me" type="checkbox" name="user[remember_me]">
                <span class="custom-check"></span>
                <span class="check-text">Remember me</span>
              </label>
            </div>
            <div class="text-right small-6 medium-6 large-6 column">
              <label class="label-check" for="forgot-password">
              </label>
            </div>
          </div>
          <input type="submit" class="button btn-login" value="login">
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.login-link').removeAttr('href').css('text-decoration', 'none');
  });
</script>