.row
  .col-xs-12.col-sm-12.col-lg-12
    %form.login-form.clearfix.validate-form.not-send-ajax{:action => "/access/login", :autocomplete => "off", :method => "post"}
      %input{:style => "display:none", :type => "text"}/
      %input{:style => "display:none", :type => "password"}/
      .row
        .bordered.col-xs-12.col-sm-8.col-lg-9

          .col-xs-12.col-sm-12.col-lg-6.valid-row
            %label.form-label{:for => "login"}
              %span.label-text.text-uppercase email
              %input#login.required{:autocomplete => "off", :name => "user[email]", :type => "text"}/

          .col-xs-12.col-sm-12.col-lg-6.valid-row
            %label.form-label{:for => "password"}
              %span.label-text.text-uppercase password
              %input#password.required{:autocomplete => "off", :name => "user[password]", :type => "password"}/

        .col-xs-12.col-sm-8.col-lg-3
          %input.button.btn-login{:type => "submit", :value => "login"}/

        .remember-me.col-xs-12.col-sm-12.col-lg-4
          %label.label-check{:for => "remember_me"}
            %input#remember_me{:name => "user[remember_me]", :type => "checkbox"}/
            %span.custom-check
            %span.check-text Remember me

        .text-right.col-xs-6.col-sm-6.col-lg-6
          %label.label-check{:for => "forgot-password"}

    .to-register-link
      = link_to 'to register', registration_path
:javascript
  $(function() {
    $('.login-link').removeAttr('href').css('text-decoration', 'none');
  });
