.row
  .col-xs-12.col-sm-12.col-lg-12
    %form.invitation-form.clearfix.validate-form{:action => "/access", :autocomplete => "off", "data-thank-page" => "true", :method => "post"}
      %input{:style => "display:none", :type => "text"}/
      %input{:style => "display:none", :type => "password"}/
      .row
        .bordered.col-xs-12.col-sm-8.col-sm-push-2.col-lg-9.col-lg-push-0

          .col-xs-12.col-sm-12.col-lg-6.valid-row
            %label.form-label{:for => "email"}
              %span.label-text.text-uppercase email address
              %input#email.required-email{:name => "user[email]", :type => "email"}/

          .col-xs-12.col-sm-6.col-lg-3.valid-row
            %label.form-label{:for => "password"}
              %span.label-text.text-uppercase password
              %input#password.required-password{:name => "user[password]", :type => "password"}/

          .col-xs-12.col-sm-6.col-lg-3.valid-row
            %label.form-label{:for => "password_confirmation"}
              %span.label-text.text-uppercase pass confirmation
              %input#password_confirmation.required-password-confirmation{:name => "user[password_confirmation]", :type => "password"}/

        .col-xs-12.col-sm-12.col-lg-3
          %button{:type => "submit"}
            %span.text request registration
        .to-login-link.col-xs-12
          = link_to 'to login', login_path
:javascript
  $(function() {
    $('.registration-link').removeAttr('href').css('text-decoration', 'none');
  });




