<div class="navbar navbar-default navbar-static-top">
    <div class="container" ng-controller="LogoutController">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">TaganTeam</a>
        </div>
        <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': nav.activePage == '/'}">
                    <a href="/" ng-click="nav.setPage(1)">Worktime</a>
                </li>
                <li ng-class="{'active': nav.activePage == '/employees'}">
                    <a href="employees" ng-click="nav.setPage(2)">Employees</a>
                </li>
            </ul>
                <log-out></log-out>
            <ul  class="nav navbar-nav navbar-right">
                <li ><a id="logout" ng-click="log.logout()" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</div>