<div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <div class="error-msg text-center" ng-if="signUpCtrl.showRegError">
        <div class="errors-email" ng-repeat="emailError in regCtrl.RegErrorsMsg.email">
            Email address {{emailError}}
        </div>
        <div class="errors-password" ng-repeat="passError in regCtrl.RegErrorsMsg.password">
            New Password {{emailError}}
        </div>
        <div class="errors-pasconfirm" ng-repeat="passConfirm in regCtrl.RegErrorsMsg.password_confirmation">
            New Password {{passConfirm}}
        </div>
    </div>

    <form name="signUpForm" class="form-signin" novalidate>
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email"
               name="email"
               id="inputEmail"
               class="form-control"
               placeholder="Email address"
               ng-model="user_credentials.email"
               ng-focus="regCtrl.showRegError = false"
               required>
        <div class="valid-errors" ng-messages="signUpForm.email.$error" ng-if="signUpForm.email.$touched">
            <p ng-message="email">This needs to be a valid email</p>
            <p ng-message="required">This field is required!</p>
        </div>

        <input type="password"
               name="password"
               id="inputPassword"
               class="form-control"
               placeholder="Password"
               ng-model="user_credentials.password"
               ng-minlength="6"
               ng-focus="regCtrl.showRegError = false"
               required>
        <div class="valid-errors" ng-messages="signUpForm.password.$error" ng-if="signUpForm.password.$touched">
            <p ng-message="minlength">Your password is too short.</p>
            <p ng-message="required">This field is required!</p>
        </div>

        <input type="password"
               name="passwordConfirm"
               id="inputPasswordConfirm"
               class="form-control"
               placeholder="Password Confirmation"
               ng-model="user_credentials.password_confirmation"
               ng-minlength="6"
               ng-focus="regCtrl.showRegError = false"
               required>
        <div class="valid-errors" ng-messages="signUpForm.passwordConfirm.$error" ng-if="signUpForm.passwordConfirm.$touched">
            <p ng-message="minlength">Your password is too short.</p>
            <p ng-message="required">This field is required!</p>
        </div>

        <button class="btn btn-lg btn-primary btn-block btn-signin"
                type="submit"
                ng-disabled="signUpForm.$invalid"
                ng-click="regCtrl.signUpSubmit(user_credentials)">
            Sign Up
        </button>
    </form><!-- /form -->
    <div class="bottom text-center">
        Already have account? <a class="forgot-password" href="#" ng-click="regCtrl.signInOpen()"><b>Sign In</b></a>
    </div>
</div><!-- /card-container -->