!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body

    %h4{style: 'text-align: center'}
      = @title

    = @body
    %hr
    *** Каждый твой дебетовый балл это не только минус в твою ЗП, но и минус из положительного отношения к тебе. ***