//#fullCalendar {
  //width: 100%
//}

.admin_calendars {
  table {
    tbody {
      tr td {
        a.fc-event{
          color: white;
          text-decoration: none;
        }
        a.fc-event:hover {
          color: white;
          text-decoration: underline;
        }
        .fc-content {
          font-size: 15px;
        }
      }
    }
  }
}

.fc-content {
  font-size: 2px;
}

.fc-right {
  .line {
    margin-top: 7px;
    width: 20px;
    margin-right: 3px;
  }

  .m-t-none {
    margin-top: 0px;
  }

  .line-blue {
    border-bottom: 3px solid blue;
  }

  .line-green {
    border-bottom: 3px solid green;
  }

  .line-red {
    border-bottom: 3px solid red;
  }
}