<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="bordered">
                <div class="worktime-header">
                    <h4>Worktime</h4>
                </div>
                <div class="worktime-body">
                    <h3> Hours worked: <span class="label label-success">{{ worktimeCtrl.hoursWorked }}</span> </h3>
                    <h3> Remains to work out: <span class="label label-success">{{ worktimeCtrl.remainsWork }}</span> </h3>
                </div>
                <div class="worktime-footer">
                    <div class="row">
                        <p class="btn-pause col-lg-6">
                            <button class="btn btn-primary">Pause</button>
                        </p>

                        <p class="btn-move col-lg-3">
                            <button class="btn btn-primary">Move away</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>