<div class="container">
    <div class="employees-bordered">
        <div class="employees-header">
            <h4>Employees</h4>
        </div>
        <div class="employees-body">
            <div class="employees-tabs">
                <ul class="nav nav-tabs">
                    <li role="presentation" ng-class="{'active': employeesCtrl.activeTabs == 'management'}">
                        <a href="#" ng-click="employeesCtrl.setTabs('management')">Management</a>
                    </li>
                    <li role="presentation" ng-class="{'active': employeesCtrl.activeTabs == 'developers'}">
                        <a href="#" ng-click="employeesCtrl.setTabs('developers')">Developers</a>
                    </li>
                    <li role="presentation" ng-class="{'active': employeesCtrl.activeTabs == 'trainee'}">
                        <a href="#" ng-click="employeesCtrl.setTabs('trainee')">Trainees</a>
                    </li>
                </ul>
            </div>
            <div class="employees-table">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <th>Initials</th>
                        <th>Email</th>
                        <th>Hours worked</th>
                        <th>status</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in employeesCtrl.users | filter:employeesCtrl.activeTabs">
                            <td>{{user.full_name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.id}}</td>
                            <td ng-class="{'online': user.status == 'online',
                                            'offline': user.status == 'offline'}">
                                <span class="glyphicon-user"> </span>{{user.status}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>