<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="worktime-bordered">
                <div class="worktime-header">
                    <h4>Worktime</h4>
                </div>
                <div class="worktime-body">
                    <h3> Hours worked: <span class="label label-success">{{ worktimeCtrl.hoursWorked }}</span> </h3>
                    <h3> Remains to work out: <span class="label label-success">{{ worktimeCtrl.remainsWork }}</span> </h3>
                </div>
                <div class="worktime-footer">
                    <div ng-show="worktimeCtrl.onlineUser != null" class="buttons animation">
                        <div ng-if="worktimeCtrl.onlineUser!='offline'">
                            <p  class="btn-pause">
                                <a class="btn btn-primary"
                                        ng-click="worktimeCtrl.pause()"
                                        ng-class="{'btn-warning': worktimeCtrl.buttonPause=='Continue'}">
                                    {{worktimeCtrl.buttonPause}}
                                </a>
                            </p>

                            <p class="btn-move">
                                <a class="btn btn-primary"
                                        ng-click="worktimeCtrl.moveAway()">
                                    Move away
                                </a>
                            </p>
                        </div>
                        <p ng-if="worktimeCtrl.onlineUser=='offline'" class="btn-start">
                            <a class="btn btn-success"
                                    ng-click="worktimeCtrl.startTime()">
                                Start
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>