%ul.wiki_page_actions
  .btn-group
    %a{href: wiki_all_path,                 class: 'btn btn-default btn-sm'}= wt( 'List pages' )
    %a{href: history_wiki_page_path(@page), class: 'btn btn-default btn-sm'}= wt( 'History' )
    %a{href: edit_wiki_page_path(@page),    class: 'btn btn-default btn-sm'}= wt( 'Edit' )
    %a{href: destroy_wiki_page_path(@page), class: 'btn btn-default btn-sm', data: {method: :delete, confirm: wt( "Destroyed page can't be restored. Are you sure?" )}}= wt( 'Destroy' )
