%h1 List of articles
.row.col-sm-2.col-sm-offset-5
  %a{href: "/wiki/new", class: 'btn btn-primary btn-block'} Create New
  %p
  -@pages.each do |page|
    %p
      %a{href: "/wiki/#{page.id}", class: 'btn btn-default btn-block'}= page.title
