%h1 List of articles
%div.table-responsive
  .row.col-sm-4.col-sm-offset-4
    %table.table
      %tr.bg-info
        %td= link_to "Create New", "/wiki/new"
      - @pages.each do |page|
        %tr.backlight
          %td.text-left= link_to "#{page.title}","/wiki/#{page.id}"
    =will_paginate @pages, renderer: BootstrapPagination::Rails, previous_label: '&laquo;', next_label: '&raquo;'