// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logout {
  padding: 5px 10px 5px 10px;
  border: 1px #bbb solid;
  border-radius: 4px;
  background-color: white;
  top: 9px;
}

#pop-up-dialog-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  #pop-up-dialog {
    position: fixed;
    width: 250px;
    left: 50%;
    margin-left: -125px;
    margin-top: 5%;
    padding: 15px;
    border-radius: 5px;
    background: white;
    .content {
      margin-bottom: 15px;
      text-align: center;
    }
    .buttons-container {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.worktime-bordered {
  margin: auto;
  border-radius: 4px;
  border: 1px #b9b9b9 solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 300px;
  .worktime-body {
    padding: 25px 0 0 45px;
    h3 span {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .worktime-footer {
    .animation {
      -webkit-transition:all linear 0.8s;
      -moz-transition:all linear 0.8s;
      -ms-transition:all linear 0.8s;
      -o-transition:all linear 0.8s;
      transition:all linear 0.8s;
      opacity:1;
    }

    .animation.ng-hide {
      opacity:0;
    }

    .buttons{
      margin: 0 auto;
      width: 200px;
      padding-top: 40px;

      .btn-move{
        float: right;
      }
      .btn-pause {
        float: left;
      }
      .btn-start {
        width: 57px;
        margin: 0 auto;
      }
    }
  }
}

.worktime-header, .employees-header {
  padding: 20px 0 0 5px;
  border-bottom: 1px #b9b9b9 solid;
}

.employees-bordered {
  border-radius: 4px;
  border: 1px #b9b9b9 solid;
  .employees-body {
    margin-top: 20px;
    .employees-tabs, .employees-table {
      margin: 0 20px;
      .table {
        .online {
          color: green;
        }
        .offline {
          color: red;
        }
        th, td {
          text-align: center;
        }
      }
    }
  }
}

.world-time {
  margin-top: -20px;

  #map {
    height: 800px;
    width: 100%;
    position: absolute;
  }
  .time-container {
    width: 150px;
    margin-left: 10px;
    position: absolute;
    z-index: 1;

    .local-time, .selected-time {
      text-align: center;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

