<div id="pop-up-dialog-bg" ng-show="log.showPopUpDialog">
    <div id="pop-up-dialog">
        <div class="content">{{log.content}}</div>
        <div class="clearfix buttons-container">
            <div class="pull-left">
                <a class="btn btn-primary" data-method="delete" ng-href="/access/logout" ng-click="log.close()">
                    Yes
                </a>
            </div>
            <div class="pull-right">
                <a class="btn btn-warning" ng-click="log.cancel()">No</a>
            </div>
        </div>
    </div>
</div>