html,
body {
    font-size: 100%;
    height:100%;
}

body {
    background: #0a0045;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}



.bordered .valid-row .form-label input {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #0a0045;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #fff;
    color: #fff;
    display: block;
    font-size: 1rem;
    padding: .5rem;
    height: 2.4375rem;
    width: 100%;
    box-sizing: border-box;
    transition: all .15s linear;
    margin: 0;
    text-decoration: none;
    box-shadow: none;
    outline: 0;
    font-weight: normal;
}

.holder {
    width: 100%;
    position: inherit;
}

.bordered {
    border: 1px solid;
    padding: 0;
}

#main form .bordered .focus-active input:focus,
#main form .bordered .valid-row .focus-active,
#main form .error .bordered .focus-active input:focus,
#main form .error .bordered .valid-row .focus-active span {
    background: #fff;
    color: #00007b;
}

#main form .bordered .focus-active input:focus,
.valid-row .focus-active{
    border-right: 1px solid white;
}

.valid-row .focus-active span {
    font-weight: normal;
}

.valid-row, .remember-me {
    padding: 0;
}

.error label span,
.error .valid-row,
#main form .error input {
    color: #f13300;
    background: #fff;
}

.form-label {
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    display: block;
    line-height: 1.8;
    margin-bottom: 0;
    border-right: 1px solid;
    text-align: left;
}

.label-text {
    font-weight: bold;
    padding-left: 5px;
}

a{
    color: white;
    text-decoration: underline;
}

a:hover, a:focus {
    cursor: pointer;
    text-decoration: none;
    color: #BBBBBB;
}

#main form .check-text {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
}

#main {
    margin:auto;
}



