%div.container.mt50
  %div.row
    %table.table-bordered.col-md-12.table-striped.table-hover
      %a.inventory-link{:onclick => "newInvertory()"} New
      %thead
        %tr
          %th #
          %th id
          %th Employee
      %tbody#tbody
        - @user.each do |item|
          %tr
            %td.spoiler
            %td= item.id
            %td= item.first_name


=render template: 'managment/employees/employeeModal'