%div.container.mt50
  %div.row
    %table.table-bordered.col-md-10.table-hover
      %thead
        %tr
          %th id
          %th Employee
          %th Role
      %tbody#tbody
        - @user.each do |item|
          %tr
            %td
              %span.spoiler
              = item.id
            %td= item.full_name
            %td= item.role
    %a.col-md-1.col-md-offset-1{onclick: "newEmployee()", class: 'btn btn-primary setting_buttons_1'} Add new Inventory to Employee
    %a.col-md-1.col-md-offset-1{id: "removeInv", onclick: "deleteEmployee()", class: 'btn btn-primary setting_buttons_2 disabled'} Remove Inventory Employee


=render template: 'managment/employees/newInventory'
=render template: 'managment/employees/deleteInventory'