%div.container.mt50
  %div.row
    %table.table-bordered.col-md-12.table-striped.table-hover
      %a.inventory-link{:onclick => "newInvertory()"} New
      %thead
        %tr
          %th #
          %th Inventory_Name
          %th Quantity in Stock
          -#%th Quantity of Employees
      %tbody
        - @tech.each do |item|
          %tr.success
            %td= item.id
            %td= item.inventory_name
            %td= item.quantity_in_stock
            -#%td= item.quantity_of_employees
            -#%td= link_to 'Show', managment_inventory_path(item), type: "button"
            -#%td
            -#  %a.inventory-link{:onclick => "editInvertory(#{item.id})"} Edit
            -#%td= link_to "Delete", managment_inventory_path(item), method: :delete, data: {confirm: "This can not be undone"}


.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title New nventory or Edit inventory
      .modal-body
        %form.form-horizontal{:id => 'form'}
          .form-group
            %label.col-sm-3.control-label{:for => "inventory_name"} Inventory_Name
            .col-sm-5
              %input.form-control{:id => 'inventory_name', :name => "inventory[inventory_name]", :placeholder => "Inventory_name", :type => "text"}/
          -#.form-group
          -#  %label.col-sm-2.control-label{:for => "date_of_receipt"} Date_Of_Receipt
          -#  .col-sm-10
          -#    %input.form-control{:name => "inventory[date_of_receipt]", :placeholder => "Date_Of_Receipt", :type => "date"}/
          .form-group
            %label.col-sm-3.control-label{:for => "quantity_in_stock"} Quantity_In_Stock
            .col-sm-5
              %input.form-control{id: 'quantity_in_stock', :name => "inventory[quantity_in_stock]", :placeholder => "Quantity_In_Stock", :type => "integer"}/
            -#%button.btn.btn-primary{:type => "submit"} Add New
          .modal-footer
            %button.btn.btn-primary{:id => 'create',:type => "submit"} Add New




