%div.container.mt50
  %div.row
    %table.table-bordered.col-md-12.table-striped.table-hover
      %a.inventory-link{:onclick => "newInvertory()"} New
      %thead
        %tr
          %th #
          %th Inventory_Name
          %th Quantity in Stock
          -#%th Quantity of Employees
      %tbody
        - @tech.each do |item|
          %tr
            %td= item.id
            %td= item.inventory_name
            %td= item.quantity_in_stock

=render template: 'managment/inventories/inventoryModal'