%h2.text-center Inventories
%div.container.mt50
  %div.row
    %table.table-bordered.col-md-12.table-hover
      %thead
        %tr
          %th #
          %th Inventory Name
          %th Quantity Inventory
          %th Quantity of Free
      %tbody
        - @tech.each do |item|
          %tr#selected
            %td= item.id
            %td= item.inventory_name
            %td= item.quantity_in_stock
            %td= item.quantity_of_free
    - if(current_user.role == "inventory")
      %a.col-md-1.col-md-offset-1{onclick: "newInvertory()", class: 'btn btn-primary setting_buttons_1'} Add new Inventory
      %a.col-md-1.col-md-offset-1{id: 'removeInv', onclick: "deleteInvertory()", class: 'btn btn-primary setting_buttons_2 disabled'} Remove Inventory

=render template: 'managment/inventories/newInventory'
=render template: 'managment/inventories/deleteInventory'