%form.form-horizontal{:role => "form"}
  .form-group
    %label.col-sm-2.control-label{:for => "inputEmail3"} User_ID
    .col-sm-10
      %input.form-control{:placeholder => "User_ID"}/
  .form-group
    %label.col-sm-2.control-label{:for => "inventory_id"} Inventory_ID
    .col-sm-10
      %input.form-control{:placeholder => "Inventory_ID"}/
  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-default{:type => "submit"} Войти
