.modal.fade#edit_inventories
  .modal-dialog
    .modal-content
      .modal-body
        =render template: 'managment/inventories/edit'
      .modal-footer
        %button.btn.btn-success.btn-lg{id: :updateInventories} Update