
<input id="pac-input" class="controls" type="text" placeholder="Enter a location"
       autocomplete="off" style="z-index: 0; position: absolute; left: 125px; top: 0px;">
<div id="type-selector" class="controls">
  <input type="radio" name="type" id="changetype-all" checked="checked">
  <label for="changetype-all">All</label>

  <input type="radio" name="type" id="changetype-establishment">
  <label for="changetype-establishment">Establishments</label>

  <input type="radio" name="type" id="changetype-address">
  <label for="changetype-address">Addresses</label>

  <input type="radio" name="type" id="changetype-geocode">
  <label for="changetype-geocode">Geocodes</label>
</div>
<div id="map"></div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-WiMcT6mKg0Fs-YOymfUFNP0RFi7wOD0"></script>
