<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB68HxZhd4Pxdsya_JvIT1qLSqzXWpWEI4&signed_in=true&libraries=places"></script>
<div class="modal fade" id="maps-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="map">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
  </div>
</div>