!!!
%html{"ng-app" => "ngSpaApp"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %base{:href => "/"}/
    %title SpaApp

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    %navbar
    .app-content
      %div{"ui-view" => ""}

