<!DOCTYPE html>
<html ng-app="ngSpaApp">
<head>
  <title>SpaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="app-content">
  <div ui-view></div>
</div>

</body>
</html>
