!!!
%html
  %head
    = stylesheet_link_tag    'app_managment', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'app_managment', 'data-turbolinks-track' => false
  %body
    .content
      = yield
