
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-WiMcT6mKg0Fs-YOymfUFNP0RFi7wOD0"></script>


<div id="modal" class="modal fade" style="vertical-align: middle">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div id="map">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
